* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

#stage {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

.circle {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.circle div {
  position: absolute;
  top: calc(50% - 50vmax); left: calc(50% - 50vmax);
  width: 100vmax; height: 100vmax;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0);
}
.circle div:nth-child(1) { background-color: #009944; }
.circle div:nth-child(2) { background-color: #fff100; }
.circle div:nth-child(3) { background-color: #ff0000; }
.circle div:nth-child(4) { background-color: #00a0e9; }
.circle div:nth-child(5) { background-color: #0a9b94; }

.circle div:nth-child(1) { animation: scale 0.6s ease 0.5s forwards; }
.circle div:nth-child(2) { animation: scale 0.6s ease 0.7s forwards; }
.circle div:nth-child(3) { animation: scale 0.8s ease 0.9s forwards; }
.circle div:nth-child(4) { animation: scale 0.8s ease 1.2s forwards; }
.circle div:nth-child(5) { animation: scale 1.1s ease 1.6s forwards; }

.box .li {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  animation: show-box 0.2s ease 3.0s forwards, fall-box 0.7s cubic-bezier(0.07, 0.5, 0.18, 1.03) 8.6s forwards;
}
.box .li .inner {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.box .li .inner .img div {
  position: absolute;
}

.box .li .inner .img div:after {
  content: "";
  display: block;
  height: 80vmin;
  background-size: cover;
}

.box .li .inner .img div:nth-child(1):after {
  background-image: url(./images/01.png);
}
.box .li .inner .img div:nth-child(2):after {
  background-image: url(./images/02.png);
}
.box .li .inner .img div:nth-child(3):after {
  background-image: url(./images/03.png);
}
.box .li .inner .img div:nth-child(4):after {
  background-image: url(./images/04.png);
}
.box .li .inner .img div:nth-child(5):after {
  background-image: url(./images/05.png);
}

.box .li .inner .img div:nth-child(1) { animation: slide-in 1.0s ease 3.5s forwards, slide-out 1.0s ease 4.5s forwards; }
.box .li .inner .img div:nth-child(2) { animation: slide-in 1.0s ease 4.5s forwards, slide-out 1.0s ease 5.5s forwards; }
.box .li .inner .img div:nth-child(3) { animation: slide-in 1.0s ease 5.5s forwards, slide-out 1.0s ease 6.5s forwards; }
.box .li .inner .img div:nth-child(4) { animation: slide-in 1.0s ease 6.5s forwards, slide-out 1.0s ease 7.5s forwards; }
.box .li .inner .img div:nth-child(5) { animation: slide-in 1.0s ease 7.5s forwards; }

.text {
  position: absolute;
  text-align: center;
  width:100%;
  left:0;
  bottom: -80px;
  font-size: 22px;
  animation: text-in 1.5s ease 9.5s forwards;
}

.text a {
  color: #FFFFFF;
  text-decoration: none;
}

.text div:nth-child(1) {
  color: #FFFFFF;
}

@keyframes scale {
  from { transform: scale(0); }
  to   { transform: scale(1.3); }
}
@keyframes fall-box {
  0%   { transform: translate(-50%, -50%) scale(1); }
  50%  { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
}

@keyframes show-box {
  from { width: 0vmin; height: 0vmin; opacity: 0; border: none; }
  to { width: 80vmin; height: 80vmin; opacity: 1; border: solid; }
}

@keyframes slide-in {
  from { width: 0%; }
  to   { width: 100%; }
}

@keyframes slide-out {
  from { width: 100%; left: 0; }
  to   { width: 0%; left: 100%; }
}

@keyframes text-in {
  from { bottom: -80px; opacity: 0; }
  to   { bottom: 60px; opacity: 1; }
}
